@import '../../utils/colors';

.header {
  color: $navy;
  background-color: $gray-l;
  padding: 30px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: $navy;
  font-size: 24px;
  font-weight: 700;
  opacity: 0.8;
}

.nav-item:hover,
.nav-item.active {
  opacity: 1;
}
