@import '../../utils/colors';

.garage {
  position: relative;
  display: grid;
  grid-template-rows: max-content max-content auto max-content;
  min-height: 100%;
  background-color: $gray-d;
}

.garage-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.garage-controls-2 {
  padding: 10px;
  width: 400px;
  min-height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.garage-titles {
  padding: 5px 30px;
  background-color: $gray-l;
}

.garage-h1 {
  margin: 0;
  color: $navy;
  font-size: 27px;
}

.garage-raceway {
  position: relative;
  height: 100%;
  background-color: $gray-l;
}

.garage-pagination {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: $gray-d;
}

/*for pagination*/

.garage-pagination ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5px;
}

.garage-pagination li {
  width: 30px;
  height: 30px;
  list-style: none;
  background-color: #fff;
  border-radius: 5px;
}

.garage-pagination li:first-child,
.garage-pagination li:last-child {
  width: 50px;
}

.garage-pagination li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.garage-pagination a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.garage-pagination .selected {
  background-color: $gray-l;
  box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
}
