@import '../../utils/colors';

.winners {
  min-height: 100%;
  background-color: $gray-d;
}

.winners-titles {
  padding: 15px 30px;
}

.winners-h1 {
  margin: 0;
  color: $navy;
  font-size: 27px;
}

.winners-pagination {
  height: 50px;
  padding-left: 30px;
}

.winners-list {
  padding-left: 30px;
}

.winner-list-title {
  height: 60px;
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.wlt-item {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  background-color: #ccd2e3;
  // border-right: 1px solid gray;
}
