@import '../../utils/colors';

.create-car {
  padding: 10px;
  width: 400px;
  display: grid;
  grid-template-columns: 5fr 1fr 3fr;
  gap: 10px;
}

.choice-name {
  border: 1px solid gray;
  border-radius: 5px;
}

.choice-name:focus {
  outline: 1px solid $navy;
}

.create-choice-color {
  margin-top: 3px;
}

.create-button {
  border: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}

.create-button:hover {
  opacity: 0.8;
}

.create-button:active {
  color: $gray-d;
}
