@import '../../utils/colors';

.reset-button {
  color: $navy;
  font-size: 24px;
  border: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 3px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}

.reset-button:hover {
  opacity: 0.9;
}

.reset-button:active {
  color: $red;
}
