@import '../../utils/colors';

.race-button {
  text-align: right;
  padding-right: 15px;
  color: $navy;
  font-size: 24px;
  border: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 3px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;

  background-image: url('./race.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: left center;
}

.race-button:hover {
  opacity: 0.9;
}

.race-button:active {
  color: $red;
}
